<nav class="navbar navbar-expand-lg"  style="text-align: center;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="http://www.nar.com.tr/images/logo.png" alt="" style="max-width:50%; height: auto;"
        class="d-inline-block align-text-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/">Mail Gönder</a>
        <a class="nav-link active" aria-current="page" routerLink="/mail-template-form">Şablon Oluştur</a>
        <a class="nav-link active" aria-current="page" routerLink="//mail-groups">Mail Grubu</a>
        <a class="nav-link active" aria-current="page" routerLink="/mail-history">Mail Geçmişi</a>
      </div>
    </div>
  </div>
</nav>
